*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(martin-soler-img-20211021-130807.jpg);
    background-size: cover;

}
.imagem{
    width: 100px;
    height: 100px;
   
}

.fundo {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 600px;
    margin: auto;
    background-color: #ececec90;
}

select, button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}